button {
  border: none;
  background-color: rgb(255, 115 0);
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: rgb(190, 227, 10);
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(232, 29, 243);
}

.equals:hover {
  background-color: rgb(33, 230, 15);
}
